$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);

$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);

$Gradient:linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgb(43, 183, 218, 1) 100%);
$LightGradient:linear-gradient(90deg, lighten(rgba(49, 211, 92, 1),15%) 0%, lighten(rgb(43, 183, 218, 1),15%) 100%);